Pulsars: intermitten flashing  
milky way: To the naked eye, the Milky Way appears as a static, white band; but under radio waves, it transforms into a vibrant, colorful, and constantly pulsating energy field.
There are approximately 100 billion pulsars in our universe, like glowing dumbbells  but it's spinning wildly. The "flashes" we see are actually the two ends of this dumbbell, sweeping across our eyes rhythmically like fan blades.If we can see this immense number, which highlights the vastness of the cosmos, the once tranquil sky will become a giant rave! You will see countless flashing.some flashing dozens of times per second, others only once every few seconds—these are the beacons of the universe.